* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 24px;
  color: #333;
  text-align: center;
}

.login-form input, .AdminReset input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

/* #labelssigned {
display: flex; 
align-items: center; 
gap: 0.5em;
}

#ssigned {
  margin: 0
} */

.submitbutton {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#ssigned {
  border: none;
  height: 12;
  width: 12;
  margin: 0;
  user-select: none;
  cursor: pointer;
}

#ssignedlabel{
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

#ssigneddiv{
  padding: 12px;
  border-radius: 6px;
  background-color: #4caf50;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.resetadminbutton, .resetbutton, .initiate_reset {
  width: 100%;
  padding: 12px;
  background-color: #4caf89;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resetbutton {
  margin-bottom: 20px;
}

.submitbutton:hover, #ssigneddiv:hover{
  background-color: #388e3c;
}

.resetadminbutton:hover, .resetbutton:hover, .initiate_reset:hover {
  background-color: #357b60;
}